* {
  border: none;
}

:root {
  --sidebarClr: #474a6c;
  --todoContainerClr: #e0e2d2;
  --projectCardClr: #b4c540;
  --todoCardClr: #3686c9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  height: 100vh;
}

body > * {
  padding: 1rem;
}

.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  background-color: var(--sidebarClr);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-container {
  grid-area: 1 / 2 / -1 / -1;
  background-color: var(--todoContainerClr);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

fieldset > div {
  display: flex;
  gap: 1rem;
}

dialog {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.dialog-close-btn {
  position: absolute;
  top: 0.8rem;
  right: 0.4rem;
}

.todo-card {
  position: relative;
  padding: 1rem;
  background-color: var(--todoCardClr);
  border-radius: 1rem;
  color: black;
  font-style: italic;
  font-weight: bold;
}

.todo-card > :first-child {
  color: white;
  font-style: normal;
}

.sidebar button {
  border-radius: 0.5rem;
  font-weight: bold;
  color: rgb(153, 37, 37);
  background-color: bisque;
}

.project-container {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card {
  border-radius: 0.5rem;
  padding: 1rem;
  color: black;
  background-color: var(--projectCardClr);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#project-heading {
  color: rgb(153, 37, 37);
}

#project-heading span {
  color: black;
  text-decoration: underline;
  font-style: italic;
}

.todo-remove-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
